---
layout: default
title: ' | Our Story'
---
<div id="our-story">
	<div class="container header" id="story-header">
		{% include nav.html %}
		<div class="row" id="logo">
			<div class="small-6 small-centered columns">
			<h1><span class="emphasize">T</span>ext in Header</h1>
			</div>
		</div>
	</div>
	
	<div class="container body">
		<div class="row">
			<div class="large-12 large-centered columns">
				<h2 class="text-center">Some header title</h2>
				<p class="text-center">Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat
					 feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</div>
		
		<div class="strip" id="our-story-strip">
			<h2 class="text-center">Some more text here</h2>
		</div>
		
		<div class="row">
			<div class="large-12 large-centered columns">
				<h2 class="text-center">Some header title</h2>
				<p class="text-center">Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat
					 feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</div>
		
		<div class="row three-columns">
		  <div class="large-4 columns">
			  <img src="http://placehold.it/350x240" />
				<p class="text-center">
				   Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat
					 feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.
        </p>					 
			</div>
			<div class="large-4 columns">
			  <img src="http://placehold.it/350x240" />
				<p class="text-center">
				   Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat
					 feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.
        </p>
			</div>
			<div class="large-4 columns">
			  <img src="http://placehold.it/350x240" />
				<p class="text-center">
				   Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat
					 feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.
        </p>
			</div>
		</div>
	</div>

	<div class="container ender" id="story-ender">
		<div class="row">
			<div class="small-6 small-centered columns">
			<h1 class="text-center"><span class="emphasize">T</span>ext to end Story</h1>
			<h2 class="text-center">This will fade in</h2>
			</div>
		</div>
	</div>
</div>
<div id="story-footer">
{% include footer.html %}
</div>
<script>
if (screen.width > 480) {
$(window ).scroll(function(){
  var fade_opac = $(window).scrollTop() / ($('.header').height() - 300);
  $('.header').css({'background': 'linear-gradient(rgba(0,17, 24,' + fade_opac + '),rgba(0,72,102,' + fade_opac + ')), url(http://placehold.it/2000x800)', 'background-repeat':'no-repeat','background-size':'cover', 'background-position': 'center'});
 
  var current_scroll = $('#body').offset().top - $(window).scrollTop();
  if (current_scroll < 700 ) 
    var fadein_opac = 1.5 - (Math.pow($(window).scrollTop(),4)) / (Math.pow(($('#body').offset().top - 150),4) );

	else
    var fadein_opac = fade_opac		
  $('#body').css({'background': 'linear-gradient(rgba(56,159,217,' + fadein_opac + '),rgba(56,159,217,' + fadein_opac + ')), url(assets/css/images/ppl-thailand.jpg)', 'background-repeat':'no-repeat','background-size':'cover', 'background-position': 'center'});
  $('#description h2').css({'color': 'rgba(255, 255, 255,' + (1-fadein_opac) + ')'});
});
}
</script>