<div class="container" id="footer">
  <div class="row">
		  <a href="join.html" class="link left">Get Involved</a>
			<a href="our-story.html" class="link left">Our Story</a>
		  <a href="about.html" class="link right">Who We are</a>
			<a href="blog.html" class="link right">Blog</a>
  </div>
	<div class="row">
	  <div class="small-3 columns" id="twitter-footer">
	  <a href="https://twitter.com/KangaKare" class="icon_twitter"><img src="assets/css/images/icon_twitter.png"></a>
		</div>
		<div class="small-6 columns center">
		<a href="index.html" class="logo-footer"><img src="assets/css/images/logo_white_text.png"></a>
		</div>
		<div class="small-3 columns" id="facebook-footer">
		<a href="https://www.facebook.com/kangakareincubators" class="icon_facebook"><img src="assets/css/images/icon_facebook.png"></a>
		</div>
	</div>
	<div class="row">
	  <p class="text-left">&copy; KangaKare 2014</p>
		<p class="text-right"><a href="http://jeaxel.com">Designed by Jeremy Axelrod</a></p>
</div>