<header>
  <div class="logo">
    <a href="/new-index.html"><img src="/assets/css/images/logo.png"></a>
  </div>
  <div class="row">
  	<div class="large-12 columns header">
      <nav>
        <ul>
          <li class="current_page_item">
            <ul class="hover" id="hover1">
              <li>
                <a href="/who-we-are" id="who-we-are">Who We Are</a>
                <ul class="menu1">
                  <li><a href="/who-we-are#our-mission">Our Mission</a></li>
                  <li><a href="/who-we-are#our-team">Our Team</a></li>
                  <li><a href="/who-we-are#our-village">Our Village</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <ul class="hover" id="hover2">
              <li>
                <a href="/incupack">IncuPack</a>
                <ul class="menu2">
                  <li><a href="/incupack#kangaroo-care">Kangaroo Mother Care</a></li>
                  <li><a href="/incupack#technology">The Technology</a></li>
                  <li><a href="/incupack#experience-kmc">Experience KMC</a></li>
                </uL>
              </li>
            </ul>
          </li>
          <li>
            <ul class="hover" id="hover3">
              <li>
                <a href="#">Get Involved</a>
                <ul class="menu3">
                  <li><a href="#">Volunteers</a></li>
                  <li><a href="#">Donate</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Partnerships</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="about.html">Blog</a>
          </li>
          <li>
            <a href="blog.html">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
