
/* Header */

#header {
  text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 800px;
	background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url({{ site.baseurl }}/assets/images/kangaroo-pouch-baby.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	overflow-y: scroll;
	padding: 1rem;
}
#logo {
  margin-top: 100px;
	color: white;
}
#logo h1 {
  color: white;
}

/* Nav */

#nav {
  display:block;
	width: 100%;
	text-align: center;
}
#nav > ul {
	margin-top: 2.5em;
  display: inline-block;
	border-radius: 0.35em;
	box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.25) inset;
	padding: 0px 1.5em;
	margin-bottom: 2em;
	list-style: none;
	
}
#nav > ul > li {
  display: inline-block;
	padding: 0px 1.5em;
	line-height: 60px;
	vertical-align: baseline;
	text-decoration: none;
	color: white;
}
#nav > ul > li a {
  color: white;
}

/* Body Front Page */

#transition {
  margin-top: 150px;
  height: 300px;
}
#body {
  text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 800px;
	background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1)), url({{ site.baseurl}}/assets/images/kanga-kare-pouch.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	overflow-y: scroll;
	padding: 1rem;
	color: white;
}
#description {
  padding-top: 250px;
}
#body h1 {
  color: white;
}